* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: azure;
    height: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_button {
    padding: 12px;
    width: 150px;
    height: 50px;
    color: azure;
    background-image: linear-gradient(
        to right,
        #F86F03 0%,
        #DB005B 50%
    );
    border: none;
    border-radius: 6px;
    font-size: 20px;
}
.navbar_button:hover{
    background-image: linear-gradient(
        to left,
        #F86F03 0%,
        #DB005B 50%
    );
    cursor: pointer;
}
body {
    background-color: #ACBCFF;
    font-family: 'Merriweather', serif;
}
.navbar_heading {
    width: 200 px;
    padding-bottom: 80px;
}
.navbar_logo {
    width: 95px;
    height: 70px;
    padding-left: 50px;
}
.navbar_item {
    width: 100px;
    height: 75px;
    padding-right: 110px;
    padding-bottom: 50px;
}